<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744137161773-jcm9v1omt7doiub68qvta53dpmbp6233.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744137161773-jcm9v1omt7doiub68qvta53dpmbp6233</string>
	<key>API_KEY</key>
	<string>AIzaSyAMKQWZUyDp3sRcB0FHZUQ_ZiglDykfh3A</string>
	<key>GCM_SENDER_ID</key>
	<string>744137161773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devmarkaz.muuwallet</string>
	<key>PROJECT_ID</key>
	<string>muuwallet-test-project</string>
	<key>STORAGE_BUCKET</key>
	<string>muuwallet-test-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744137161773:ios:f9b54fb437b95014284ca4</string>
</dict>
</plist>